<%- include("partials/header"); -%>

  <div id="map" style="width:600px; height:400px;"></div>

  <script type="text/javascript">
    // initialize
    var schoolCatchment = <%- JSON.stringify(getCatchmentArea) %>;
    console.log(schoolCatchment, "homelog");
    // underlying map
    <%- include("partials/baselayer"); -%>
        //deconstruct the catchment area into an array with individual homes (adress points)
        const [homes] = schoolCatchment;
        //create a map marker for each home
        const markers = []; //initialize an empty set of markers
        // iterate through the homes and create markers, add each to the marker set
        homes.forEach((home, index) => {
          const settings = {}; //this is for marker settings
          const gpsCoords = SMap.Coords.fromWGS84(home.lng, home.lat);
          const markerId = index; //unique marker identifier
          const finalMarker = new SMap.Marker(gpsCoords, markerId, settings);  // GPS coords, unique ID, optional settings
          markers.push(finalMarker);
        });
        // show the marker on the map
        markers.forEach((marker) => {
          layer.addMarker(marker);
        });

  </script>




<%- include("partials/footer"); -%>
