<%- include("partials/header"); -%>

  <div id="map" style="width:600px; height:400px;"></div>

  <script type="text/javascript">
    // initialize
    var schoolCatchment = <%- JSON.stringify(getCatchmentArea) %>;
    console.log(schoolCatchment, "homelog");
    // underlying map
    <%- include("partials/baselayer"); -%>

    const refreshZoom = () => {
      if (map.getZoom() >= 15) {
        layer.enable();
      } else {
        layer.disable();
      }
    }

    const markers = []; //initialize an empty set of markers

    schoolCatchment.forEach((homes) => {
      //create a map marker for each home
      // iterate through the homes and create markers, add each to the marker set
      homes.forEach((home, index) => {
        const settings = { url: "orange.png", anchor: { left: 4, top: 4 } }; //this is for marker settings
        const gpsCoords = SMap.Coords.fromWGS84(home.lng, home.lat);
        const finalMarker = new SMap.Marker(gpsCoords, null, settings);  // GPS coords, unique ID, optional settings
        markers.push(finalMarker);
      });
    });



    // show the marker on the map
    layer.addMarker(markers);

    var signals = map.getSignals();
    signals.addListener(window, "zoom-stop", refreshZoom);

    refreshZoom();

  </script>




<%- include("partials/footer"); -%>
