<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vizualizace spádových obvodů</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://api.mapy.cz/loader.js"></script>
  <script>
    Loader.load()
  </script>
</head>

<body>
  <h1>Vizualizace spádových obvodů</h1>
  <p>Najděte svoji spádovou školu. Pracujete na úřadě? Vygenerujte si podklady do vyhlášky.</p>
  <div id="mapa" style="width:600px; height:400px;"></div>
  <script type="text/javascript">
    var stred = SMap.Coords.fromWGS84(14.41, 50.08);
    var mapa = new SMap(JAK.gel("mapa"), stred, 10);
    mapa.addDefaultLayer(SMap.DEF_BASE).enable();
    mapa.addDefaultControls();
  </script>
  <button type="button" class="btn btn-primary" name="button">Pokus</button>

</body>

</html>
