<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vizualizace spádových obvodů</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://api.mapy.cz/loader.js"></script>
  <script>
    Loader.load()
  </script>
</head>
<body>
  <h1>Vizualizace spádových obvodů</h1>
  <p>Najděte svoji spádovou školu.</p>
  <p>Pracujete na úřadě? Přiřaďte dětem spádovou školu automaticky.</p>
